* {
    box-sizing: border-box;
}

a, button {
    transition: all .3s ease-in-out 
}

main {
    background-color: #fdde7e;
    font-family: 'Lato', sans-serif;
}

ul li {
    list-style: none;
    display: inline-flex;
    border: 1px solid #333333;
    align-content: space-around;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    min-height: 100vh;
}

.box1 {
    max-width: 360px;
}

.box2 {
    max-width: 360px;
}

.box3 {
    max-width: 360px;
}

h1 {
    color: #333333  ;
}